<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.todolist" version="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ToDoList</name>
    <description>
       To Do List app
    </description>
    <author email="ioannis.doumenis@webelevate.ie" href="www.digitalskillsacademy.com/">
        DSA - digital skills academy
    </author>
    <icon src ="icon.png"/>
    <content src="index.html" />
    <access origin="*" />
    <feature name ="http://api.phonegap.com/1.0/camera"/>
</widget>
