<!DOCTYPE html>

<!--
* Author: Ioannis Doumenis
* Assignment: WE3.1 Mobile Web Applications, Digital Skills Academy
* Student ID: D13126770
* Date : 2014/06/15
-->

<html data-ng-app="">
 <head>
	<title>IoannisDoumenis ToDo List!</title>
 </head>
 <body>
 
 <!--first I need to connect my controller from the index.js file via the scope, so that my data can be displayed by the view (html page) -->
  <div class="container" data-ng-controller="ToDoController">
  	
  	<!--insert a custom title-->
    <h2>Ioannis Doumenis - ToDo List - DSA WE3.1</h2>

    <!--then I am calling the angular directive to data-bind my two variables to the html page, creating my view model (scope). This allows for some user input-->
    Task : <br/><input type="text"  data-ng-model="newTask.name" /><br/>
    Details : <br/><input type="text" data-ng-model="newTask.description" /><br/>
    
    <!--the following button click calls the addToDo function in the javascript file-->
    <button data-ng-click="addToDo()">Add Item</button>

	<!--and finally I am using my ng-repeat directive to populate my ordered list-->
	<ol>
	  <li data-ng-repeat="nextTask in toDoListItems">
       <input type="checkbox" ng-model="done">
		   {{nextTask.name | uppercase}} : {{nextTask.description | lowercase}}
		   <a href="#" ng-click="delete($index)">Delete</a>
    </li>
    </ol>

  </div>

<!--include the various scripts and custom css file-->
   <script type="text/javascript" src="js/index.js"></script> 
   <script type="text/javascript" src="angular.min.js"></script>
   <script src = "jquery.mobile-1.4.2.js" type = "text/javascript"></script>
   <link rel="stylesheet" href="css/custom.css" />

 </body>
</html>


